asyncpg
supabase==2.31.0
discord.py
jishaku
pytz
aiofiles
mcstatus
discord-ext-menus
aiohttp
flask
psutil
requests
pymongo
wavelink>=2.0.0
httpx
tasksio
motor
numpy
aiosqlite
gtts
langdetect
python-dotenv
PyYAML
openai
duckduckgo-search==6.3.6
pillow==11.0.0
colorama
chess
python-dateutil
deep-translator==1.11.4
aiofiles
aiohttp
aiosqlite
chess
colorama
deep-translator==1.11.4
discord-ext-menus
discord.py
duckduckgo-search==6.3.6
flask
gtts
httpx
jishaku
langdetect
mcstatus
motor
numpy
openai
pillow==11.0.0
psutil
pymongo
python-dateutil
python-dotenv
pytz
PyYAML
requests
tasksio
wavelink>=2.0.0
asyncpg
pillow==11.0.0
aiofiles
aiohttp
aiosqlite
asyncpg
chess
colorama
deep-translator==1.11.4
discord-ext-menus
discord.py
duckduckgo-search==6.3.6
flask
gtts
httpx
jishaku
langdetect
mcstatus
motor
numpy
openai
pillow==11.0.0
psutil
pymongo
python-dateutil
python-dotenv
pytz
PyYAML
requests
tasksio
wavelink>=2.0.0
asyncpg
aiofiles
aiohttp
asyncpg
chess
colorama
deep-translator==1.11.4
discord-ext-menus
discord.py
duckduckgo-search==6.3.6
flask
gtts
httpx
jishaku
langdetect
mcstatus
motor
numpy
openai
pillow==11.0.0
psutil
pymongo
python-dateutil
python-dotenv
pytz
PyYAML
requests
supabase==2.31.0
tasksio
wavelink>=2.0.0
